*.lst
*.log
!loadMadratData.R
!reportData.R
*.ini
*.tgz
pucFiles
*.gdx
*.gsp
*.rds
regionmappingOPDEV2.csv
regionmappingOP.csv
*.cmd
*.dat
*.mif
/data_report
/data
/data2
/targets
/runs
/default*
metadata.json
/doc
*.pyc
config.json
modelstat.txt
git_diff.txt
config2.json